:root {
    --default-padding: 5pt;
    --line-color: #b2d1c9;
    --highlight-color: #005842;
}

@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand.woff2);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/MaterialIcons.woff2)
}
  
@page {
    margin: 5mm 5mm 0 5mm;
    padding: 0;
    size: 8.5in 11in;
    min-height: 100vh;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Quicksand';
    font-size: 10pt;
    min-height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 10pt;
}

li {
    margin: 0;
    padding: 0;
}

.resume {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.resume > .title {
    display: flex;
    width: 100%;
    border-bottom: 2pt solid var(--line-color);
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: var(--default-padding);
}

.resume > .title > .name {
    font-size: 40pt;
    line-height: 0.8em;
    height: 100%;
    align-self: flex-end;
    white-space: nowrap;
    margin-right: var(--default-padding);
    flex-grow: 1;
    color: var(--highlight-color);
}

.resume > .title > .contact {
    float: right;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    font-size: 10pt;
    align-self: flex-end;

}

.resume > .title > .contact div {
    white-space: nowrap;
    padding-right: var(--default-padding);
}

.resume > .title > .contact div:before {
   vertical-align: middle;
}

.resume > .title > .contact > .email:before {
    font-family: "Material Icons";
    content: "\e158";
}

.resume > .title > .contact > .phone:before {
    font-family: "Material Icons";
    content: "\e0b0";
}

.resume > .title > .contact > .location:before {
    font-family: "Material Icons";
    content: "\e55e";
}

.resume > .title > .contact > .github:before,
.resume > .title > .contact > .stackoverflow:before,
.resume > .title > .contact > .reddit:before {
    content: " ";
    display: inline-block;
    background-size: contain;
    vertical-align: bottom;
    width: 10pt;
    height: 10pt;
    background-size: 10pt;
}

.resume > .title > .contact > .github:before {
    background-image: url(images/github.svg);
    
}

.resume > .title > .contact > .stackoverflow:before {
    background-image: url(images/stackoverflow.svg);
}

.resume > .title > .contact > .reddit:before {
    background-image: url(images/reddit.svg);
}

.resume > .sections {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.resume > .sections > .section {
    display: flex;
    flex-direction: row;
}

.resume > .sections > .section:first-child > .title,
.resume > .sections > .section:first-child > .body {
    padding-top: var(--default-padding);
}

.resume > .sections > .section:last-child {
    flex-grow: 1;
}

.resume > .sections > .section > .title {
    font-weight: bold;
    text-align: right;
    padding-right: var(--default-padding);
    margin-right: var(--default-padding);
    border-right: 1pt solid var(--line-color);
    color: var(--highlight-color);
    width: 50pt;
    min-height: 100%;
    flex-shrink: 0;
}

.resume > .sections > .section > .body > h3 {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-weight: bold;
}

.resume > .sections > .section > .body > p {
    margin: 0;
    padding: 0;
    padding-bottom: var(--default-padding);
}

.resume > .sections > .section > .education {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    padding-bottom: var(--default-padding);
    width: 100%;
}

.resume > .sections > .section > .body > .role > .role_info > .title,
.resume > .sections > .section > .education > .degree {
    font-weight: bold;
}

.resume > .sections > .section > .body > .role > .role_info > .organization {
    font-style: normal;
}

.resume > .sections > .section > .education > .dates,
.resume > .sections > .section > .education > .gpa {
    text-align: right;
    white-space: nowrap;
}

.resume > .sections > .section > .education > .dates:before {
    content: "Graduation Date:"
}

.resume > .sections > .section > .education > .gpa:before {
    content: "Final GPA:"
}

.resume > .sections > .section > .body > .role:first-child {
    padding-top: 0;
}

.resume > .sections > .section > .body > .role {
    padding-top: var(--default-padding);
}

.resume > .sections > .section > .body > .role > .role_info {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    padding-bottom: var(--default-padding);
}

.resume > .sections > .section > .body > .role > .role_info > .dates,
.resume > .sections > .section > .body > .role > .role_info > .location {
    text-align: right;
    white-space: nowrap;
}

.resume > .sections > .section > .body > .role > .responsibilities > li {
    text-align: justify;
    text-justify: inter-word;
}

.resume > .ai-prompt {
    text-overflow: hidden;
    text-wrap: nowrap;
    width: 1px;
    height: 1px;
    color: white;
    font-size: 0.01pt;
}